@model IEnumerable<Dental_Appointment_Manager.Models.Appointment>
@{
    ViewBag.Title = "ViewAppointments";
    Layout = "/Views/Shared/ReceptionistLayout.cshtml";
}
<div class="body-wrapper-inner">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-4">Danh Sách Lịch Hẹn</h5>
                <p class="mb-4">Quản lý các lịch hẹn của phòng khám</p>

                <!-- Nút để chuyển sang trang tạo lịch hẹn -->
               

               
            </div>
        </div>
    </div>
</div>

