
@{
    ViewBag.Title = "LichLamViecBacSi";
    Layout = "/Views/Shared/LayoutClient.cshtml";
}
<div class="container">
    <div class="page-inner">
        <div class="page-header">

            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Bác sĩ</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Lịch làm việc</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
            </ul>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title">Lịch làm việc của Bác sĩ</div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>       </th>
                                <th>Tầng 1</th>
                                <th>Tầng 2</th>
                                <th>Tầng 3</th>
                                <th>Tầng 4</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">8:00 - 9:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                            </tr>
                            <tr>
                                <th scope="row">9:00 - 10:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>

                            </tr>
                            <tr>
                                <th scope="row">10:00 - 11:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                            </tr>
                            <tr>
                                <th scope="row">11:00 - 12:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                            </tr>
                            <tr>
                                <th scope="row"> Nghỉ trưa </th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                            </tr>
                            <tr>
                                <th scope="row">13:00 - 14:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>

                            </tr>
                            <tr>
                                <th scope="row">14:00 - 15:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                            </tr>
                            <tr>
                                <th scope="row">15:00 - 16:00</th>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                                <td>          </td>
                            </tr>
                            <tr>
                                <th scope="row">16:00 - 17:00</th>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>
                                <td>Table cell</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>