
@{
    ViewBag.Title = "CreateAppointment";
    Layout = "/Views/Shared/ReceptionistLayout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url(/Content/User/images/bg_1.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Lịch hẹn</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="CreateAppointment">Đặt lịch hẹn <i class="ion-ios-arrow-forward"></i></a></span> 
               </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters">
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="consultation w-100 text-center px-4 px-md-5">
                    
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <div class="consultation consul w-100 px-4 px-md-5">
                    <div class="text-center">
                        <h3 class="mb-4">Tạo lịch hẹn miễn phí</h3>
                    </div>
                    <form action="#" class="appointment-form">
                        <div class="row">
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Họ tên">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Số điện thoại">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="form-field">
                                        <div class="select-wrap">
                                            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                            <select name="" id="" class="form-control">
                                                <option value="">Bác sĩ</option>
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <div class="icon"><span class="ion-md-calendar"></span></div>
                                        <input type="text" class="form-control appointment_date" placeholder="Ngày">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <div class="input-wrap">
                                        <div class="icon"><span class="ion-ios-clock"></span></div>
                                        <input type="text" class="form-control appointment_time" placeholder="Giờ">
                                    </div>
                                </div>
                            </div>
                            <style>
                                /* Màu chữ và viền của ô select */
                                select.form-control {
                                    color: black;
                                    border: 1px solid black;
                                    background-color: white; /* đảm bảo nền trắng, dễ đọc */
                                }

                                    /* Khi focus (bấm vào) */
                                    select.form-control:focus {
                                        color: black;
                                        border-color: black;
                                        box-shadow: 0 0 5px rgba(0,0,0,0.2);
                                        background-color: white;
                                    }

                                    /* Màu chữ trong danh sách tùy chọn */
                                    select.form-control option {
                                        color: black;
                                        background-color: white; /* tránh bị nền xám khó nhìn */
                                    }
                            </style>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Bệnh lý">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6 col-xl-4">
                                <div class="form-group">
                                    <input type="submit" value="Đặt lịch" class="btn btn-secondary py-2 px-4">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="consultation w-100 text-center px-4 px-md-5">
                    <h3 class="mb-4">Danh sách các bác sĩ</h3>
                    <p>Dựa vào thông tin này để tìm bác sĩ phù hợp cho Bệnh nhân</p>
                    <a href="#" class="btn-custom">Nhấn vào đây để xem</a>
                </div>
            </div>
        </div>
    </div>
</section>

