<!DOCTYPE html>
<html lang="en">
<head>
    <title>Denstista</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon"
          href="~/Content/Client/img/kaiadmin/favicon.ico"
          type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/User/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/User/css/animate.css">

    <link rel="stylesheet" href="~/Content/User/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/User/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/User/css/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/User/css/aos.css">

    <link rel="stylesheet" href="~/Content/User/css/ionicons.min.css">

    @*<link rel="stylesheet" href="~/Content/User/css/bootstrap-datepicker.css">*@
    <link rel="stylesheet" href="~/Content/User/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/Content/User/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/User/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/User/css/style.css">
</head>
<body>
    <div class="py-md-5 py-4 border-bottom">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
                <div class="col-md-4 order-md-2 mb-2 mb-md-0 align-items-center text-center">
                    <a class="navbar-brand" href="Trang_Chu">Dentista</a>
                </div>
                <div class="col-md-4 order-md-1 d-flex topper mb-md-0 mb-2 align-items-center text-md-right">
                    <div class="icon d-flex justify-content-center align-items-center order-md-last">
                        <span class="icon-map"></span>
                    </div>
                    <div class="pr-md-4 pl-md-0 pl-3 text">
                        <p class="con"><span>Free Call</span> <span>+84 28 3930 2072</span></p>
                        <p class="con">49, Hồ Xuân Hương, Phường 6, Quận 3, Ho Chi Minh City(Saigon), Vietnam.</p>
                    </div>
                </div>
                <div class="col-md-4 order-md-3 d-flex topper mb-md-0 align-items-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                    <div class="text pl-3 pl-md-3">
                        <p class="hr"><span>Open Hours</span></p>
                        <p class="time"><span>Mon - Sat:</span> <span>8:00am - 5:00pm</span> Sun: Closed</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item active"><a href="/User/Trang_Chu" class="nav-link pl-0">Home</a></li>
                    <li class="nav-item active"><a href="/User/About" class="nav-link">About</a></li>
                    <li class="nav-item active"><a href="/User/Doctor" class="nav-link">Doctor</a></li>
                    <li class="nav-item active"><a href="/User/Treatments" class="nav-link">Treatments</a></li>
                    <li class="nav-item active"><a href="/User/History" class="nav-link">History</a></li>
                    <li class="nav-item active"><a href="/User/Appointment" class="nav-link">Appointment</a></li>
                    @if (ViewBag.IsLoggedIn == true)
                    {
                        <li class="nav-item active"><a href="@Url.Action("UserLogout", "User")" class="nav-link">Logout</a></li>
                    }
                    else
                    {
                        <li class="nav-item active"><a href="@Url.Action("UserLogin", "User")" class="nav-link">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody()

    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2 logo">Dentista</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>

                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <h2 class="ftco-heading-2">Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Deparments</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                        </ul>
                    </div>
                    <div class="ftco-footer-widget mb-5 ml-md-4">
                        <h2 class="ftco-heading-2">Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Neurolgy</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Dentist</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Ophthalmology</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Cardiology</a></li>
                            <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Surgery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Recent Blog</h2>
                        <div class="block-21 mb-4 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/Content/User/images/image_1.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept. 20, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-21 mb-5 d-flex">
                            <a class="blog-img mr-4" style="background-image: url(/Content/User/images/image_2.jpg);"></a>
                            <div class="text">
                                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> Sept. 20, 2019</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Opening Hours</h2>
                        <h3 class="open-hours pl-4"><span class="ion-ios-time mr-3"></span>We are open 24/7</h3>
                    </div>
                    <div class="ftco-footer-widget mb-5">
                        <h2 class="ftco-heading-2">Subscribe Us!</h2>
                        <form action="#" class="subscribe-form">
                            <div class="form-group">
                                <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="form-control submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.448488155065!2d106.68541097535943!3d10.776921489371903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb10d777a5d%3A0xfbb50fc31b82278b!2zTkhBIEtIT0EgVEhJw4pOIELhuqJP!5e0!3m2!1svi!2s!4v1760259315490!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/Content/User/js/jquery.min.js"></script>
    <script src="~/Content/User/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/User/js/popper.min.js"></script>
    <script src="~/Content/User/js/bootstrap.min.js"></script>
    <script src="~/Content/User/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/User/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/User/js/jquery.stellar.min.js"></script>
    <script src="~/Content/User/js/owl.carousel.min.js"></script>
    <script src="~/Content/User/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/User/js/aos.js"></script>
    <script src="~/Content/User/js/jquery.animateNumber.min.js"></script>
    @*<script src="~/Content/User/js/bootstrap-datepicker.js"></script>*@
    <script src="~/Content/User/js/jquery.timepicker.min.js"></script>
    <script src="~/Content/User/js/scrollax.min.js"></script>

    <script src="~/Content/User/js/main.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>